name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name:  Basic
        uses: lowlighter/metrics@latest
        with:
          filename: basic.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, repositories
          
          plugin_lines: yes
          plugin_traffic: yes

      - name:  General
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          filename: general.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          config_order: habits, isocalendar

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          config_timezone: Asia/Shanghai
          
      - name:  Misc
        if: ${{ success() || failure() }}
        uses: lowlighter/metrics@latest
        with:
          filename: misc.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          config_order: wakatime, stars

          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_wakatime_days: 7
          plugin_wakatime_sections: time, languages, editors, os

          plugin_stars: yes
          plugin_stars_limit: 6

      - name:  Full history calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.calendar.full.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_calendar: yes
          plugin_calendar_limit: 0

          
